fastapi==0.115.12
uvicorn==0.34.0
pydantic==2.11.0
huggingface-hub==0.29.3
pinecone==6.0.2
pinecone-plugin-interface==0.0.7
langchain>=0.3.21
langchain-community>=0.3.20
httpx==0.28.1
python-dotenv==1.1.0
pymongo==4.11.3
openai==1.69.0
rdkit==2023.9.5
tavily-python==0.5.2
python-multipart==0.0.9
matplotlib==3.8.3
python-jose==3.3.0
passlib==1.7.4
bcrypt==4.0.1
SQLAlchemy==2.0.23
requests==2.31.0
pillow==10.1.0
